<div style="margin: 6%">
  <div class="row text-blue-heading16-med text-center">{{label.title}}</div>
  <div class="row row-margin border-light-grey-top text-gray-heading16-reg text-center" id="inactive-signin"
       style="padding-left: 10%; padding-right: 10%"
        tabindex="1" aria-label="You have been signed out. Please sign back in to start a new session.">
    {{label.message}}
  </div>
  <div class="row text-center">
    <button class="btn btn-margin btn-orange" tabindex="2" aria-label="{{signin}}" ng-click="buttonAction()">{{label.buttonAction}}</button>
  </div>
</div>
