<div class="col-md-12 row-margin">
  This privacy statement describes how Deloitte Consulting LLP (“we” or “us”) collects and uses the personal information (“PI”) you provide through our <a href="http://www.getmy1095b.com" target="_blank">www.getmy1095b.com</a> website (the “Website”).  By submitting PI through this Website, you expressly consent to the handling of your PI under these terms.
</div>
<div class="col-md-12 row-margin">
  When you register to participate on or use the Website, we may collect PI such as your name, email and address.  We may use this PI to authorize you to use certain technologies or access certain membership or subscription offerings available on this Website, send you administrative notifications such as security or support advisories, respond to your inquiries, and improve this Website. You may stop collection of any PI collected by the Website by discontinuing use of the Website; however, this will not affect any information which has been transmitted to our servers.
</div>
<div class="col-md-12 row-margin">
  We do not sell, rent, trade, or otherwise share your PI with third parties except as provided in this privacy statement. We may share your PI with third parties in the following circumstances and you expressly consent to us sharing it for the stated purposes:
</div>
<div class="col-md-12 row-margin no-padding-left">
  <ul>
  <li><span>When required by law or when we reasonably believe that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, and/or respond to a government request.</span></li>
  <li><span>In the event we go through a business transition, such as a merger, acquisition by, or sale of all or a portion of its assets to another company, we may share your PI with such company.</span></li>
  <li><span>With our third party service providers who may use your PI to provide services on our behalf.</span></li>
    </ul>
</div>
<div class="col-md-12 row-margin">
  The Website may include links to websites whose privacy practices may differ from ours.  If you submit PI to any of those sites, your information is governed by their privacy statements.
</div>
<div class="col-md-12 row-margin">
  We follow generally accepted industry standards to protect the PI submitted to us, both during transmission and once we receive it.  However, no method of transmission or method of electronic storage is entirely secure.
</div>
<div class="col-md-12 row-margin">
  We may update this privacy statement at our discretion. When we make changes to this statement, we will amend the revision date at the bottom of this page. Continued use of the Website following such changes indicates your acceptance.
</div>
<div class="col-md-12 row-margin">
  By registering on the Website you are consenting to the transmission of data related to your use to servers in the United States or other territories as applicable.
</div>
<div class="col-md-12 row-margin">
  The Website is not designed for children under the age of 18 and we do not knowingly collect any PI from children under 18.
</div>
<div class="col-md-12 row-margin">
  If you have questions about this privacy statement, you can contact us at <a href="mailto:us1095bsupport@deloitte.com" >us1095bsupport@deloitte.com</a>
</div>
<div class="col-md-12 row-margin">
  For more information about Arkansas privacy policy <a href="http://www.arkansas.gov/policies/privacy-policy" target="_blank">http://www.arkansas.gov/policies/privacy-policy</a>
</div>
<div class="col-md-12 row-margin">
  Last Updated on:  [1/28/2016]
</div>
