<div class="container-fluid edit_user_details">
  <div class="row padding-top35 margin-side25">
    <div class="row row-padding-top30 text-center" data-ng-if="spinnerShow">
      <i class="fa fa-spinner fa-4x fa-pulse color-spinner"></i>
    </div>
    <form name="edituserform" role="form" novalidate ng-model-options="{updateOn:'default blur',debounce:{'default':500,'blur':0}}" ng-hide="spinnerShow">
      <!--screen title-->
          <div class="row text-center text-medium-18 border-bottom padding-bottom-15 outline-none titledialog"
               aria-label="{{label.titleDescription}}">
        <span class="">{{label.titleDescription}}</span>
      </div>

      <!--error/success message-->
        <div class="margin-bottom40" ng-hide="userNotFound || successFlag"></div>
        <div class="row" ng-show="userNotFound || successFlag">
          <div class="margin-top-5px margin-bottom30 outline-none dia-error-message" aria-label="{{errorMessage}}" tabindex="5009" failure-banner show-flag="userNotFound" error-message="errorMessage"></div>
          <div class="margin-top-15px margin-bottom20 outline-none dia-success-message" aria-label="{{successMessage}}" tabindex="5009"  success-banner show-flag="successFlag" success-message="successMessage"></div>
        </div>
       <div class="margin-side25">
      <!--input fields-->
      <!--first row-->
      <div class="row">
        <div class="form-group col-md-5">
          <input type="text" class="form-control dia-first-name" name="firstname" ng-model="edituser.fname" ng-maxlength="30" autofocus
                 placeholder="First Name" aria-label="{{dialogaria.fname}}" required floating-validation>
        </div>
        <div class="form-group col-md-5 col-md-offset-2">
          <input type="text" class="form-control" name="lastname" ng-model="edituser.lname" ng-maxlength="30"
                  placeholder="Last Name" aria-label="{{dialogaria.lname}}" required floating-validation>
        </div>
      </div>
      <!--second row-->
      <div class="row margin-bottom-45">
        <div class="form-group col-md-5 opacity-25">
          <input type="email" class="form-control container-white" name="email" placeholder="Email ID"
                 ng-model="edituser.email"  aria-label="{{dialogaria.uname}}" required floating-validation disabled>
        </div>
        <div class="form-group col-md-5 col-md-offset-2">
          <select class="form-control text-black-reg" name="role" placeholder="Role" aria-label="{{dialogaria.role}}"
                  ng-model="edituser.role" required floating-validation>
          <option class="text-black-reg" value="">Select Role</option>
            <option aria-label="{{role.value}}" class="text-black-reg" data-ng-repeat="role in roles" value="{{role.value}}">{{role.value}}</option>
          </select>
          </div>
        </div>
       </div>
      <!--activate and deactivate the account settings-->
      <div class="row text-center">
        <div class="margin-bottom20">{{label.adlabel}}</div>
        <!-- Activate / deactivate switch -->
        <div class=" text-center margin-bottom65">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary bradius-sdata btn-view-source outline-none"
                    aria-label="{{edituser.userStatus?dialogaria.active:dialogaria.activate}}"  data-ng-click="edituser.userStatus=true"
                    data-ng-class="edituser.userStatus && 'btn-view-source-active' || 'btn-view-source-disabled'">
              {{label.activate}}
            </button>
            <button type="button" class="btn btn-secondary bradius-pdf btn-view-source outline-none"  data-ng-click="edituser.userStatus=false"
                    aria-label="{{edituser.userStatus?dialogaria.deactivate:dialogaria.deactive}}"
                    data-ng-class="!edituser.userStatus && 'btn-view-source-active' || 'btn-view-source-disabled'">
              {{label.deactivate}}
            </button>
          </div>
        </div>
      </div>
      <!--buttons to cancel and save-->
      <div class="row text-center">
        <button class="btn btn-dark-gray btn-search-user outline-none btn-margin dia-cancel-button"
                aria-label="{{dialogaria.cancel}}" ng-click="cancel_modal()">
          {{label.cancel}}
        </button>
        <button class="btn btn-green btn-search-user outline-none" ng-click="save_data()" ng-disabled="disableSearch"
                aria-label="{{dialogaria.save}}" >
          <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;
          {{label.save}}
        </button>
      </div>
    </form>
  </div>
</div>
