<div class="scroll-container container-white">
  <div class="margin-indent-container unicorn-change-expired-password outline-none" role="main">

    <!-- Success and Failure banner for Send Mail-->
    <div class="row">
      <div class="col-md-12 no-padding row-padding-bottom10 notificationMessage">
        <div class="margin-top-5px" success-banner show-flag="vm.showSuccessMessage"
             success-message="vm.successMessage"></div>
        <div class="margin-top-5px" failure-banner show-flag="vm.showErrorMessage"
             error-message="vm.errorMessage"></div>
      </div>
    </div>

    <!-- Screen title-->
    <div class="row margin-bottom25">
      <div class="col-md-5 no-padding outline-none passwordtitle" tabindex=1 aria-label="{{vm.ariaLabel.title}}">
        <span class="screen-title-action">{{vm.label.titleAction}}</span>
        <span class="screen-title-description margin-left-5px">{{vm.label.titleDescription}}</span>
      </div>
    </div>

    <div class="form-area">
      <form name="changePassword1" role="form" class="clearfix" autocomplete="off" data-ng-submit="vm.updateExpiredPassword(vm.userData)">
        <div class="form-group">
          <span class="control-label">{{vm.label.newPassword}}</span>
          <input type="password" class="form-control" placeholder="New Password" autofocus data-ng-required="true" data-ng-model="vm.userData.newPassword" aria-label="{{vm.ariaLabel.title + vm.ariaLabel.newPassword}}" data-ng-change="vm.enableSavePassword(vm.userData)"/>
        </div>
        <div class="form-group">
          <span class="control-label">{{vm.label.confirmPassword}}</span>
          <input type="password" class="form-control" placeholder="Confirm Password" data-ng-required="true" data-ng-model="vm.userData.confirmPassword" aria-label="{{vm.ariaLabel.confirmPassword}}" data-ng-change="vm.enableSavePassword(vm.userData)"/>
        </div>
        <div class="form-group">{{vm.label.passwordPolicy}}</div>
        <div class="btn-toolbar text-right">
          <button type="button" class="btn btn-default cancelButton" data-ng-click="vm.cancel()">{{vm.label.cancelButton}}
          </button>
          <button type="submit" class="btn btn-primary" data-ng-disabled="vm.emptyFields">{{vm.label.saveButton}}</button>
        </div>
    </form>
    </div>
  </div>
</div>
