<div ng-include src="'views/state-header-common.html'"></div>
<div class="scroll-container container-white">
  <div class="margin-indent-container forgot-password-view outline-none" role="main">

    <!--error/success message-->
    <div class="row outline-none" ng-show="userNotFound || successFlag">
      <div class="margin-bottom10px outline-none errormessage" tabindex="1" aria-label="{{errorMessage}}" tabindex="1" failure-banner show-flag="userNotFound" error-message="errorMessage"></div>
      <div class="margin-bottom10px outline-none successmessage" tabindex="1" aria-label="{{successMessage}}" tabindex="1" success-banner show-flag="successFlag" success-message="successMessage"></div>
    </div>

    <!-- Screen title-->
    <div class="row margin-bottom25">
      <div class="col-md-5 no-padding outline-none title" tabindex="2" aria-label="{{arialabel.title}}">
        <span class="screen-title-action">{{label.titleAction}}</span>
        <span class="screen-title-description margin-left-5px">{{label.titleDescription}}</span>
      </div>
    </div>

    <!--spinner till the initialization is done-->
    <div class="text-center center-container" ng-show="spinnerShow">
      <i class="fa fa-spinner fa-5x fa-pulse color-spinner"></i>
    </div>

    <div data-forgot-password application=profile.application get-profile-url=profile.getProfileUrl
         get-security-questions-url=profile.getSecurityQuestionsUrl update-password-url=profile.updatePasswordUrl>
    </div>

  </div>
</div>
