<div ng-include src="'views/state-header-common.html'"></div>
<div class="cw-bg-wrapper">
  <div class="scroll-container cw-login-container login-inactive-view">
    <div class="error-panel">
      <div class="failure-banner row-margin-top" tabindex="1" aria-label="Account Locked, you cannot access your account at this time. Please contact System Administrator or Help Desk. ">
        <div class="text-center row-padding-top10">
          <span class="failure-icon"></span>
          <span class="login-error-heading">ACCOUNT LOCKED</span>
        </div>
        <div class="text-center row-padding-bottom10">
          <span class="login-error">You cannot access your account at this time</span>
          <div class="login-error">Please contact System Administrator or Help Desk</div>
        </div>
      </div>
      <div class="form-group margin-top-28px text-center">
        <input type="submit" class="btn btn-orange btn-search-user" tabindex="2" ui-sref="siteminder-login" value="Sign in"/>
      </div>
      <div class="form-group text-center">
        <a ui-sref="forgot-password" tabindex="3">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
<script>
  (function(){
    $('.failure-banner').focus();
  })();
</script>
