<div class="cw-bg-wrapper">
  <div class="col-md-12 cw-login-container">
    <div class="margin-indent-container terms-and-conditions outline-none">
      <span class="pagetitle" tabindex=1 aria-label={{tc.ariaLabel.title}}>Terms & Conditions</span>
      <hr>
      <div class="col-md-12 scroll-box" tabindex=2 aria-label={{tc.ariaLabel.content}}>
        <p>
          These Terms of Use apply to your use of the Laborwise ACA website (the “Website”). To the extent there is an
          executed agreement with Deloitte Consulting LLP (“we” or “us”) governing your licensed use of any technology, or
          your access to any membership or subscription offering, available on this Website (an “Agreement”), your use and
          access to any such technology or offering will be further governed by such Agreement. To the extent there is a
          conflict between these Terms of Use and an Agreement, the terms of the Agreement shall control.
          <b>By using this Website, you are agreeing to these Terms of Use. If you do not agree to these Terms of Use, then
            you are not allowed to use this Website and should immediately terminate such usage.
          </b>
        </p>

        <b>
          <ins>Use of Content; Restrictions</ins>
        </b>

        <p>Unless otherwise indicated in the relevant content, and on the condition that you comply with all of your
          obligations under these Terms of Use, (i) you are authorized only to view and print the content on this Website
          for informational, noncommercial purposes and provided that any copy of the content that you make must include the
          copyright notice or other attribution associated with the content; and (ii) you are not authorized to copy or use
          any software, proprietary processes or technology embodied or described in this Website.</p>

        <p>You will comply with all applicable laws in accessing and using this Website. You acknowledge that we may use
          your personal information and data according to our Privacy Statement, set forth in the Privacy link on this
          Website.</p>

        <p>This Website and its contents are protected by copyright, trademark, and other laws of the United States and/or
          other countries. We and our licensors reserve all rights not expressly granted in these Terms of Use. References
          to other parties’ trademarks on this Website are for identification purposes only and do not indicate that such
          parties have approved this Website or any of its contents, nor should they be construed as an endorsement of them
          or their content by us.</p>

        <b>
          <ins>Disclaimers and Limitations of Liability</ins>
        </b>

        <p>THIS WEBSITE CONTAINS GENERAL INFORMATION ONLY, AND WE ARE NOT, BY MEANS OF THIS WEBSITE, RENDERING PROFESSIONAL
          ADVICE OR SERVICES. BEFORE MAKING ANY DECISION OR TAKING ANY ACTION THAT MIGHT AFFECT YOUR FINANCES OR BUSINESS,
          YOU SHOULD CONSULT A QUALIFIED PROFESSIONAL ADVISOR.</p>

        <p>THIS WEBSITE IS PROVIDED AS IS, AND WE MAKE NO EXPRESS OR IMPLIED REPRESENTATIONS OR WARRANTIES REGARDING IT.
          WITHOUT LIMITING THE FOREGOING, WE DO NOT WARRANT THAT THIS WEBSITE WILL BE SECURE, ERROR-FREE, FREE FROM VIRUSES
          OR MALICIOUS CODE, OR WILL MEET ANY PARTICULAR CRITERIA OF PERFORMANCE OR QUALITY. WE EXPRESSLY DISCLAIM ALL
          IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR
          PURPOSE, NON-INFRINGEMENT, COMPATIBILITY, SECURITY, AND ACCURACY.</p>

        <p>YOUR USE OF THIS WEBSITE IS AT YOUR OWN RISK AND YOU ASSUME FULL RESPONSIBILITY AND RISK OF LOSS RESULTING FROM
          YOUR USAGE, INCLUDING, WITHOUT LIMITATION, WITH RESPECT TO LOSS OF SERVICE OR DATA. WE WILL NOT BE LIABLE FOR ANY
          DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES OR ANY OTHER DAMAGES WHATSOEVER,
          RELATING TO OR ARISING OUT OF THE USE OF THIS WEBSITE, EVEN IF WE KNEW, OR SHOULD HAVE KNOWN, OF THE POSSIBILITY
          OF SUCH DAMAGES.</p>

        <p>THE ABOVE DISCLAIMERS AND LIMITATIONS OF LIABILITY ARE APPLICABLE TO THE FULLEST EXTENT PERMITTED BY LAW, WHETHER
          IN CONTRACT, STATUTE, TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE) OR OTHERWISE.</p>
        <b>
          <ins>Additional Terms</ins>
        </b>

        <p>
          If any portion of these Terms of Use is invalid or unenforceable in any jurisdiction, then (i) in that
          jurisdiction it shall be re-construed to the maximum effect permitted by law in order to effect its intent as
          nearly as possible, and the remainder of these Terms of Use shall remain in full force and effect, and (ii) in
          every other jurisdiction, all of these Terms of Use shall remain in full force and effect.
        </p>

        <p>
          We may revise these Terms of Use at any time in our sole discretion by posting such revised Terms of Use at the
          Terms of Use link or elsewhere in this Website. Such revisions shall be effective as to you upon posting, unless
          explicitly stated by us. It is your responsibility to be aware of any such revised Terms of Use by checking this
          webpage. Your continued use of this Website following changes to these Terms of Use constitutes your agreement to
          the revised Terms of Use.
        </p>

        <div class="clear-fix col-md-12 text-center">
          <button class="btn btn-dark-gray btn-search-user testcancelclick" tabindex=3 aria-label="{{tc.ariaLabel.cancel}}" ng-click="tc.cancel()">Cancel
          </button>
          <button class="btn btn-dark-gray btn-search-user testsearchclick" tabindex=4 aria-label="{{tc.ariaLabel.agree}}" ng-click="tc.goToNewProfile()">I
            Agree
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

